body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#deeaee;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
.navbar-brand{
    font-size: x-large;
}
.card {
    margin-bottom: 50px;
    margin-top:40px;
    border: none

}

.box {
    width: 500px;
    height: 500px;
    padding: 30px;
    background: #191919;
    border-radius: 10px;
    text-align: center;
    transition: 0.25s;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box button[type="submit"], .loogedin button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: grey;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}
.login_box{
     width: 400px;
    padding: 40px;
    top: 50%;
    left: 50%;
    background: #191919;
    margin-right: 50%;
    margin-left: 550px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    transition: 0.25s;
    margin-top: 50px
}
.loogedin button[type="submit"]:hover {
    background: #2ecc71
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
    /* CSS for high-density screens */
    #header {
        background:url(high-density-image.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
    /* CSS for low-density screens */
    #header {
        background:url(low-density-image.png);
    }
}


