body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #25c481, #25b7c4);
  }

a {
    color: white;
}

input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 5px 5px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
