<<<<<<< HEAD
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #25c481, #25b7c4);

}
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
.checkbox{
    align-content: center;
}
=======
>>>>>>> main
