{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form action="" method="post" class="box">
                    <h1>Register</h1>
                    {% if message  %}
                    <p class="text-muted"> {{ message }}</p>
                    {% endif %}
                    <input id="inputFullName" type="text" name="fullname" placeholder="Enter full name">
                    <input id="InputEmail" type="text" name="email" placeholder="Enter email">
                    <input id="InputPassword" type="password" name="password1" placeholder="Password">
                    <input id="InputPassword2" type="password" name="password2" placeholder="Repeat Password">
                    <a class="forgot text-muted" href="#">Forgot password?</a>
                    <button type="submit" name="" >Submit</button>
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
