{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="post" class="box">
                    <h1>Register</h1>
                    {% if message  %}
                    <p class="text-muted"> {{ message }}</p>
                    {% endif %}
                    <input id="inputFullName" type="text" name="fullname" placeholder="Enter full name">
                    <input id="InputEmail" type="text" name="email" placeholder="Enter email">
                    <input id="InputPassword" type="password" name="password1" placeholder="Password">
                    <input id="InputPassword2" type="password" name="password2" placeholder="Repeat Password">
                    <button type="submit" name="" >Submit</button>
                
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
