
{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}

<p style="text-align: center">Welcome {{ email }}</p>
<form class="loogedin" method="get" action="/search_page">
    <button type="submit">Search Postings</button>
</form>
<form class="loogedin" method="get" action="/manage">
    <button type="submit">Management</button>
</form>
</form>
<form class = "loogedin" method="get" action="/new_post">
    <button type="submit">Post a new listing</button>
</form>
<form class="loogedin" method="get" action="/subscriptions_page">
    <button type="submit">Subscriptions</button>
</form>
</form>
<form class = "loogedin" method="get" action="/view_all">
    <button type="submit">View All Posts</button>
</form>
<form class ="loogedin" method="get" action="/view_post">
    <button type="submit">View My Post</button>
</form>


{% endblock %}
