{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %} 
      <div class="alert alert-warning alert-dismissible"  role="alert">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<p style="text-align: center">Welcome {{ email }}</p>
<div class="login_box">

<form class="loogedin" method="get" action="/search_page">
    <button type="submit">Search Postings</button>
</form>
<form class="loogedin" method="get" action="/manage">
    <button type="submit">Management</button>
</form>
</form>
<form class = "loogedin" method="get" action="/new_post">
    <button type="submit">Post a new listing</button>
</form>
<form class="loogedin" method="get" action="/sub">
    <button type="submit">Subscriptions</button>
</form>
</form>
<form class = "loogedin" method="get" action="/view_all">
    <button type="submit">View All Posts</button>
</form>
    <form class ="loogedin" method="get" action="/view_own_posts">
    <button type="submit">View My Posts</button>
    </form>
</div>


{% endblock %}


