{% extends "base.html" %}
{% block title %}Manage Profile{% endblock %}

{% block content %}

<p>{{user.name}}</p>
<div>
    <a href="index.html">Post</a>&nbsp;<b>|</b>&nbsp;<a href="login.html">View</a>&nbsp;<b>|</b>&nbsp;<a href="logged_in.html">Create Theme</a>
</div>
<br>
<hr>
<br>
<div>
    <h2>Your Reports</h2>
    <div>
        <a href="link">Previous</a>
    </div>
    <div>
        <img src="{{user.reports}}">
    </div>
    <div>
        <label>Title:</label>
        <input type="text" value="{{user.reports.title}}">
        <label>DateTime:</label>
        <input type="text" value="{{user.reports.date}}">
        <label>Description:</label>
        <input type="text" value="{{user.reports.desc}}">
        <label>Togs:</label>
        <input type="text" value="{{user.reports.tag}}">
        <label>Theme:</label>
        <input type="text" value="{{user.reports.theme}}">
    </div>
    <div>
        <a href="">Next</a>
        <br>
        <br>
        <br>
        <a href="">Edit</a>
    </div>
</div>
<br>
<hr>
<br>
<div>
    <br>
    <h2>Subscriptions</h2>
    {% for sub in subs %}
    <div>
        <img src="">
    </div>

    {% endfor %}
</div>
{% endblock %}