<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">

    <script type="text/javascript">
        $(window).load(function() {
            $(".carousel .item").each(function() {
                var i = $(this).next();
                i.length || (i = $(this).siblings(":first")),
                  i.children(":first-child").clone().appendTo($(this));

                for (var n = 0; n < 2; n++)(i = i.next()).length ||
                  (i = $(this).siblings(":first")),
                  i.children(":first-child").clone().appendTo($(this))
            })
        });
    </script>
</head>
<body>
<nav class="navbar navbar-light" style="background:#A5D6D9">
  <a class="navbar-brand" href="/logged_in">PetHaven</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style = "margin-left: 90%">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Post <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/view_post">View your post</a>
      <a class="nav-item nav-link" href="/view_all">View all Post</a>
      <a class="nav-item nav-link" href="">Create Theme</a>
        <a class="nav-item nav-link" href="/search_page">Search</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>

<!--<p>{{users.name}}</p>-->
<div>
    <h3 style=" margin-top: 0px">Your Themes!!</h3>
    <!--<a href="index.html">Post</a>&nbsp;<b>|</b>&nbsp;<a href="login.html">View</a>&nbsp;<b>|</b>&nbsp;<a href="logged_in.html">Create Theme</a>-->
</div>
<hr>
<table>
    <tr>
        <td>
            {% if current_page != 1 %}
            <a style ="margin-left: 200px" href="{{url_for('manage',page = current_page-1)}}">Previous</a>
            {% endif %}
        </td>

        <td style="padding-left: 100px">
            <div class = "card" style ="width : 300px; background: white; margin-left: 250px; " >
                {% for user in users %}
                <img height="400" src="data:image/png;base64, {{images[user['image_id']]}}"
                     alt="Avatar" class="avatar" style="width:100%; height: 30%">
                <div class = "container">
                    <h4>
                        {% if user.name %}
                        {{user.name}}
                        {% endif %}

                    </h4>

                    <p>{% if user.post_title %}
                        Title: {{user.post_title}}
                    {% endif %}
                    </p>
                    <p>
                        {% if user.date_posted %}
                        Date: {{user.date_posted}}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.detailed_description %}
                        Desc: {{user.detailed_description}}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.tags %}
                        Tags: {{user.tags}}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.type %}
                        Theme: {{user.type}}
                        {% endif %}
                    </p>
                </div>
                {% endfor %}

            </div>

        </td>
        <td style="padding-left: 100px">
            {% if current_page != pages %}
            <a href={{url_for('manage',page=current_page+1)}}>Next</a>
            {% endif %}
        <br>
        <br>
        <br>

        </td>
    </tr>
</table>
<a href="{{url_for('manage',page = current_page, delete=True ) }}">Delete</a>
<!--<a style="margin-left: 80%" href="">Edit</a>-->
<hr>
    <h3>Subscriptions :</h3>
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ul class="carousel-indicators">
      {% for sub in subs %}
    <li data-target="#demo" data-slide-to={{loop.count}} class="{% if loop.count==1 %} active {% endif %}"></li>
      {% endfor %}
  </ul>-->
  <!-- The slideshow -->
  <div class="carousel-inner">
      <div class="carousel-item active">
          {% for sub in subs %}
      {% if loop.index <= 3 %}
          <div class="col-xs-3 col-sm-3 col-md-3">
              <div class = "card" style ="width : 300px; background: white; margin-left: 250px; " >
                <img src="{{ url_for('static', filename='image/birds.jpg') }}"  alt="Los Angeles" width="1100" height="500">
                {{sub.type}}
                  <a href="{{url_for('manage',page = current_page, unsubscribe = True, position = loop.index)}}">Unsubscribe</a>
              </div>
          </div>
          {% endif %}
    {% endfor %}

    </div>

      {% if subs|length > 3 %}
      <div class="carousel-item ">

          {% for sub in subs %}
      {% if loop.index >= 3 %}
          <div class="col-xs-3 col-sm-3 col-md-3">
              <div class = "card" style ="width : 300px; background: white; margin-left: 250px; " >
                <img src="{{ url_for('static', filename='image/birds.jpg') }}"  alt="Los Angeles" width="1100" height="500">
                {{sub.type}}
              </div>
          </div>
          {% endif %}
    {% endfor %}

    </div>
{% endif %}


  </div>
{% if subs|length > 3 %}
  <!-- Left and right controls-->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
    {% endif %}
</div>



</body>

