
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <a href="">Manage</a>
    <a href="">Post</a>
    <a href="">View</a>
    <a href="">Create Theme</a>
    <a href="">Search</a>
    <p ALIGN=CENTER><b><big>Create Report</b></big></p>
</head>
<body>
<hr width=”200″ align=”middle”>
<form action="/post_action" method="POST" id="posting">
    <table ALIGN=CENTER>
<thead>
<tr>
  </tr>
</thead>
<tbody>
  <tr>
    <td><p> <label for="type">Select Type of Pet:</label>
            <select name="type" id="type" form="posting">
                <option value=”dog02”>Dog 0-2 Years</option>
                <option value=”dog35”>Dog 3-5 Years</option>
                <option value=”dog68”>Dog 6-8 Years</option>
                <option value=”dog+”>Dog 8+ Years</option>
                <option value=”cat”>Cat</option>
                <option value=”bird”>Bird</option>
                <option value=”fish”>Fish</option>
                <option value=”horse”>Horse</option>
                <option value=”rodent”>Rodent</option>
                <option value=”reptile”>Reptile</option>
                <option value=”other”>Other</option>
        </select></p></td>
    <td><p>Tags: <input type="text" name="tags" placeholder="Separate tags by comma" /></p></td>
    <td></td>
  </tr>
  <tr>
    <td><p>Title: <input type ="text" name="title" placeholder="Title" /></p></td>
    <td><p>Location: <input type="text" name="location" placeholder ="Please enter current location"></p></td>
  </tr>
  <tr>
      <td></td>
  </tr>
</tbody>
</table>
    <p ALIGN=CENTER>Description:</p> <p ALIGN=CENTER><textarea name="description" rows="7" cols="60"></textarea></p>

<p ALIGN=CENTER><button type="submit">Post</button></p>
</form>
</body>
</html>
