<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_post.css') }}">
</head>
<body>
  <nav class="navbar navbar-light" style="background:#A5D6D9">
  <a class="navbar-brand" href="/logged_in">PetHaven</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style = "margin-left: 90%">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Post <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/view_own_posts">View your post</a>
      <a class="nav-item nav-link" href="/view_all">View all Post</a>
      <a class="nav-item nav-link" href="/create_theme_action">Create Theme</a>
        <a class="nav-item nav-link" href="/search_page">Search</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>

    <p ALIGN=CENTER><b><big>Create a Post</big></b></p>
    <hr width=”200″ align=”middle”>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <form class="box"  action="/post_action"  method="POST" enctype="multipart/form-data" id="posting">

                    <table >
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
    <td><p> <label for="filter">Select Type of Pet :</label>
         <select name="type" id="select_type">
             {% for theme in list_of_themes_db %}
            <option value="{{ theme['theme_name'] }}">{{ theme['theme_name'] }}</option>
             {% endfor %}
            <option value=Other>Other</option>
         </select>
    <td>Tags <input type="text" name="tags" placeholder="Separate tags by comma" /></td>
    <td></td>
  </tr>
  <tr>
    <td>Title <input type ="text" name="title" placeholder="Title" /></td>
    <td>Location <input type="text" name="location" placeholder ="Please enter current location"></td>
  </tr>
  <tr>
      <td>Image  <input    type = "file" name="file" accept="image/*" /></td>
  </tr>
</tbody>
</table>
                    <p>Description</p> <p><textarea name="description" rows="7" cols="60"></textarea></p>

<p><button type="submit">Post</button></p>


                </form>
            </div>
        </div>
    </div>
</div>
</body>
