{% extends "base.html" %}
{% block title %}Your Post{% endblock %}

{% block content %}

  <body>
  <img alt="PostImage" width="400" height="400" src="data:image/png;base64, {{image}}"/>
  <table style="width:50%" align-content ="center">
    <tr>
      <td>Title:</td>
      <td>{{document_posted['post_title']}}</td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>{{document_posted['type']}}</td>
    </tr>
    <tr>
      <td>Date:</td>
      <td>{{document_posted['date_posted']}}</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>{{document_posted['location']}}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{document_posted['detailed_description']}}</td>
    </tr>
    <tr>
      <td>Tags:</td>
      <td>{{document_posted['tags']}}</td>
    </tr>
  
    <tr>
      <td>Contact Information:</td>
      <td>{{document_posted['user_id']}}</td>
    </tr>
    </table>
    </body>
    {% endblock %}

